<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="members">
	<select id="list" resultType="com.ict.edu4.service.VO">
	 select * from users order by idx
	</select>
	<!-- 셀렉문 결과타입에서 여러줄이 나와도 List<VO> 아니다. 그냥 VO 타입이다. <select id="selectBlog" 
		resultType="Blog"> select * from Blog where id = #{id} </select> 파라미터 한개일때는 
		VO 또는 String, int 등 사용가능 파라미터가 두 개~ 여러개 인 경우 반드시 VO 사용 <insert id="" parameterType=""></insert> 
		<update id="" parameterType=""></update> <delete id="" parameterType=""></delete> 
	
	
	<insert id="insert" parameterType="db.GuestVO">
	 insert into guestbook(idx, name, subject, content, email, pwd, regdate)
values(guestbook_seq.nextval,#{name}, #{subject}, #{content}, #{email}, #{pwd}, sysdate )
	</insert>
	
	<select id="detail" parameterType="String" resultType="db.GuestVO">
	select * from guestbook where idx=#{idx}	
	</select>
	<delete id="delete" parameterType="String">
	delete from guestbook where idx=#{idx}
	</delete>
	
	<update id="update" parameterType="db.GuestVO" >
	update guestbook
	set name=#{name}, subject=#{subject}, email=#{email}, content=#{content} 
	where idx=#{idx}
	</update>-->
</mapper>
